.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 8vw repeat(2, 1fr);

  .sidebar {
    width: 100%;
    background-color: $color-accent;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__logo {
      // justify-self: flex-start;
    }

    &__items {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__item {
      margin-top: 3rem;
      list-style: none;
      width: 2.5rem;
      height: 2.5rem;
      border: 5px solid $color-white;
      border-radius: 50%;
    }
  }

  .question {
    padding: 3rem;
    background-color: $color-accent;
    display: grid;
    place-items: center center;

    &__category {
      border: 3px solid $color-yellow;
      width: max-content;
      padding: 1.2rem;
      border-radius: 1rem;

      //typography
      color: $color-yellow;
      font-family: "Open Sans";
    }

    &__text {
      //Typography
      color: $color-white;
      font-size: 5rem;
    }
  }

  .choices {
    display: grid;
    place-items: center center;

    &__box {
      display: flex;
      width: 100%;
      justify-content: space-evenly;

      li {
        transition: all 0.3s ease;
      }

      &:hover > li {
        opacity: 0.5;
      }

      &:hover li:hover {
        transform: translateY(-2rem);
        opacity: 1;

        p {
          opacity: 1;
          transition: opacity 0.9s ease;
        }
      }
    }

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__btn {
      border: none;
      background: none;
      font-size: 15rem;

      &:active {
        transform: translateY(1rem);
      }
    }

    &__text {
      //typography
      color: $color-accent;
      font-size: 2rem;
      opacity: 0;
    }
  }
}
